# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env

# Django
db.sqlite3
/staticfiles/
/media/

# Node
node_modules/
package-lock.json

# Tailwind build
Static/css/main.css
Static/css/main.css.map

# OS
.DS_Store
Thumbs.db